*,*::after,*::before,
*::after,*::before{
    box-sizing: border-box;
}
*container{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
main{
    min-width: 80vh;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}
nav a {
        text-decoration: none;
        color: unset;
   
    }   
nav {
    margin-bottom: 3rem;
}    
/* menú 1 basado en display inline-black*/
nav.menu1 li {
    display: inline-block;
    border-right: solid grey;


}

nav.menu1 li:first-of-type {
    border-left: solid black;

}
    nav.menu1 a {
        
        padding: .5rem 3rem;}


     nav.menu2 {
            background-color: salmon;
            overflow: hidden; /* esto sirve para que reconozca el elemento 
 */
        }
     nav.menu2 ul {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
     nav.menu2 li {
            width: 15%;
            float: left;
        }
     nav.menu2 a {
            display: block;
            padding: 1rem 1rem;
            text-align: center; /* Para centrar el texto  dentro del menú */
            border: solid grey;
            white-space: nowrap; /* para que no rompa la frase dentro del menú */
        }
        nav.menu2 a:hover{
            background-color: maroon;
            color: magenta;
            padding: 1.4rem 1.4rem;
        }